doctype html
html
  head
    title 中天韓國瑜計數器
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel='icon', type='image/png', href='/icon.png')
    link(rel='shortcut icon', type='image/png', href='/icon.png')
    meta(content="https://hant.zackexplosion.fun/screenshot.png", property="og:image")
  body.container
    h1#title 中天韓國瑜計數器
    div 從 2019/04/01起總共出現了.. #[#count]
    div.video-wrapper
      iframe(src=`https://www.youtube.com/embed/${YOUTUBE_VIDEO_ID}?autoplay=1&mute=1`, frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    #support
      ul#messages.list-group
    a#download(target="_blank" href="/dbdownload") 資料庫下載
    #footer
      a(href='https://github.com/zackexplosion/hant-counter-crawler', target='_blank')
        svg(height='32', viewBox='0 0 16 16', version='1.1', width='32', aria-hidden='true')
          path(fill='#FFF', d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z')
    style.
      body {
      background-color: #333;
      color: #FFF;
      padding: 10px;
      padding-top: 3em;
      text-align: center;
      }
      #title {
      padding-bottom: 30px;
      }
      #count {
      font-size: 5em;
      padding-bottom: 30px;
      }
      #support {
      color: #AAA;
      padding-top: 1em;
      font-size: 0.8em;
      }
      #support div {
      padding-bottom: 7px;
      }
      #messages{
        text-align: left;
      }
      #messages li {
        list-style: none;
      }
      #messages li:first-child {
        display: none;
      }
      #footer {
      padding: 10px 10px;
      position: fixed;
      bottom: 0px;
      text-align: right;
      right: 0px;
      }
      #footer a {
      margin-bottom: 5px;
      display: block;
      }
      .video-wrapper{
          position: relative;
          padding-bottom: 56.25%;  //16:9
          overflow: hidden;
      }
      .video-wrapper iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js')
    script.
      const socket = io('/')
      const elCount = document.getElementById('count')
      const elMessage = document.getElementById('message')
      const elMessages = document.getElementById('messages')

      const render_message = data => {
        let li = document.createElement('li')
        li.className = 'list-group-item'
        li.innerText = `${data.datetime}: ${data.text}`
        elMessages.prepend(li)
      }

      socket.on('initMessages', data => {
        const { messages, count} = data
        elCount.innerHTML = count
        //- elMessage.innerHTML = messages[0].text

        messages.forEach(m =>{
          render_message(m)
        })
      })

      socket.on('update', data => {
        elCount.innerHTML = data.count
        //- elMessage.innerHTML = data.text
        render_message(data)
      })
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-8649920-14')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-8649920-14');

