doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 喜韓兒聊天室
    link(rel='stylesheet', href='/chat.css')
  body
    ul.pages
      li.chat.page
        .chatArea
          ul.messages
        section.input
          input.username(readonly)
          input.inputMessage(placeholder='Type here...')
      li.login.page
        .form
          h3.title 修改您的喜韓兒ID
          input.usernameInput(type='text', maxlength='14')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js')
    script(src=hashPath("/chat.js"))
