doctype html
html
  head
    title OO計數器
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel='icon', type='image/png', href='/icon.png')
    link(rel='shortcut icon', type='image/png', href='/icon.png')
    meta(content="https://hant.zackexplosion.fun/screenshot2.png", property="og:image")
    //- link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
    //- link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css')
    link(rel='stylesheet', href='/app.css')
  body
    include _nav
    iframe(src="/chatroom")#chat
    #content.container
      .row
        .col-lg.title
          p 最新功能：可以用鍵盤的左右鍵切換頻道囉
      .row
        .col-lg
          h4.channel-name ..
    include _channels
    #live-counter.alert.alert-info(type='alert')
      | 目前有 #[span.badge.badge-light ...] 位又老又窮的鄉民在線上
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js')
    script(src='https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js')
    script.
      const socket = io('/web')
    script(src=hashPath("/app.js"))

    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-8649920-14')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-8649920-14');

