@import "../node_modules/bootstrap/scss/functions"
@import "../node_modules/bootstrap/scss/variables"
@import "../node_modules/bootstrap/scss/mixins"
@import "./_switch"

body
  padding-top: 60px
  padding-bottom: 120px

#keywords
  button
    margin-bottom: 0.5em
    margin-right: 0.5em
  span
    margin-left: 0.5em

#content
  .row
    padding: 30px 0
    border-bottom: 1px solid #CCC

#status
  margin: 0.5em 0

.video-wrapper
  position: relative
  padding-bottom: 56.25%
  overflow: hidden
  margin-bottom: 15px
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.progress
  margin-bottom: 3em

h1, h4, h5, h6, #status
  text-align: center

#history
  max-height: 360px
  overflow-y: scroll

#live-counter
  position: fixed
  margin-bottom: 0
  bottom: 0
  right: 0
  font-size: 90%

#chart
  .canvas-wrapper
    overflow: scroll
  canvas
    display: none
    // width: 100%;
    min-height: 555px

#chat-toggle
  position: fixed
  top: 0
  left: 0
  z-index: 9999

$chatWidth: 25vw
$chatWidth-downmd: 300px
body.chat-opned
  @include media-breakpoint-down(sm)
    .github-corner,
    #live-counter
      display: none
  #content
    // position: absolute
    // margin-left: calc(100vw - #{$modal-md} - #{$chatWidth} )
    // margin-left: calc(100vw - #{$chatWidth} - #{$modal-lg} )
    margin-left: calc(#{$chatWidth} + 30px )
    // width: calc(95vw - #{$chatWidth} )
    @include media-breakpoint-down(md)
      width: 100%
      left: calc(#{$chatWidth-downmd} + 30px )
  #chat-toggle
    left: calc(#{$chatWidth} + 1px)
    @include media-breakpoint-down(md)
      left: calc(#{$chatWidth-downmd} + 1px)
  #chat
    // display: block
    left: 2px
  &.android #chat
    height: calc(100vh - 56px)
  &.ios #chat
    height: calc(100vh - 115px)
    bottom: 0
#chat
  // display: none
  top: 0
  position: fixed
  min-width: 300px
  border: 0
  border-top: 1px solid #CCC
  border-left: 1px solid #CCC
  border-right: 1px solid #CCC

  left: 9999px
  width: $chatWidth
  @include media-breakpoint-down(md)
    left: -$chatWidth-downmd
    width: $chatWidth-downmd
  height: 100vh
  z-index: 9999
