@import "../node_modules/bootstrap/scss/functions"
@import "../node_modules/bootstrap/scss/variables"
@import "../node_modules/bootstrap/scss/mixins"
body
  padding-top: 60px
  padding-bottom: 120px

/* #keywords {
 *  margin-top:1em;
 *  margin-bottom:0.5em;
 *}

#keywords
  button
    margin-bottom: 0.5em
    margin-right: 0.5em
  span
    margin-left: 0.5em

/* .content {
 *  padding-top: 0.5em;
 *}

#content
  .row
    padding: 30px 0
    border-bottom: 1px solid #CCC

#status
  margin: 0.5em 0

.video-wrapper
  position: relative
  padding-bottom: 56.25%
  overflow: hidden
  margin-bottom: 15px
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.progress
  margin-bottom: 3em

h1, h4, h5, h6, #status
  text-align: center

#history
  max-height: 360px
  overflow-y: scroll

/* #history .list-group-item {
 *  height: 125px;
 *  overflow: hidden;
 *}
 *#history.overflow{
 *  max-height: 440px;
 *}

#live-counter
  position: fixed
  margin-bottom: 0
  bottom: 0
  right: 0
  font-size: 90%

#chart
  .canvas-wrapper
    overflow: scroll
  canvas
    display: none
    // width: 100%;
    min-height: 555px

#chat-toggle
  position: fixed
  top: 0
  left: 0
  z-index: 9999

$chatWidth: 25vw
$chatWidth-downmd: 300px
body.chat-opned
  #content
    width: 100%
    position: absolute
    // margin-left: calc(100vw - #{$modal-md} - #{$chatWidth} )
    left: calc(#{$chatWidth} + 30px )
    @include media-breakpoint-down(md)
      left: calc(#{$chatWidth-downmd} + 30px )
  #chat-toggle
    left: calc(#{$chatWidth} + 1px)
    @include media-breakpoint-down(md)
      left: calc(#{$chatWidth-downmd} + 1px)
  #chat
    display: block
    left: 2px
  &.android #chat
    height: calc(100vh - 56px)
  &.ios #chat
    height: calc(100vh - 115px)
    bottom: 0
#chat
  display: none
  top: 0
  bottom: 0
  position: fixed
  min-width: 300px
  border: 0
  border-top: 1px solid #CCC
  border-left: 1px solid #CCC
  border-right: 1px solid #CCC

  left: -$chatWidth
  width: $chatWidth
  @include media-breakpoint-down(md)
    left: -$chatWidth-downmd
    width: $chatWidth-downmd
  height: 100vh /* Fallback for browsers that do not support Custom Properties */
  z-index: 9999

// #chat
//   top: 0
//   right: 0
//   position: fixed
//   min-width: 300px
//   width: 30vw
//   z-index: 9999
//   iframe
//     border: 0
//     border-top: 1px solid #CCC
//     border-left: 1px solid #CCC
//     border-right: 1px solid #CCC
//     width: 100%
//     height: 100vh

.switch
  input
    display: none
  display: inline-block
  width: 60px
  height: 30px
  margin: 8px
  transform: translateY(50%)
  position: relative

.slider
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  border-radius: 30px
  box-shadow: 0 0 0 2px #777, 0 0 4px #777
  cursor: pointer
  border: 4px solid transparent
  overflow: hidden
  transition: .4s
  &:before
    position: absolute
    content: ""
    width: 100%
    height: 100%
    background: #777
    border-radius: 30px
    transform: translateX(-30px)
    transition: .4s

input:checked + .slider
  &:before
    transform: translateX(30px)
    background: limeGreen
  box-shadow: 0 0 0 2px limeGreen,0 0 2px limeGreen