doctype html
html
  head
    title 中天韓國瑜計數器
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel='icon', type='image/png', href='/icon.png')
    link(rel='shortcut icon', type='image/png', href='/icon.png')
    meta(content="https://hant.zackexplosion.fun/screenshot.png", property="og:image")
    style.
      body {
        padding-top: 60px;
        padding-bottom: 120px;
      }
      .video-wrapper{
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
      }
      #keywords {
        margin-top:1em;
        margin-bottom:0.5em;
      }
      #keywords button {
        margin-bottom: 0.5em;
        margin-right: 0.5em;
      }
      #keywords span {
        margin-left: 0.5em;
      }
      .content {
        padding-top: 0.5em;
      }
      #status {
        margin: 0.5em 0;
      }
      .video-wrapper iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .progress {
        margin-bottom: 3em;
      }
      h1,h4,
      #status {
        text-align: center;
      }
      #history {
        max-height: 500px;
        overflow-y: scroll;
      }
      #history.overflow{
        max-height: 300px;
      }
      #live-counter {
        position: fixed;
        margin-bottom: 0;
        bottom: 0;
        right: 0;
      }
      #chart canvas{
        display: none;
      }
      #chat {
        top:0;
        right: 15px;
        position: fixed;
        background: #FFF;
      }
      #chat .collapse{
        min-width: 300px;
        width: 30vw;
      }
      #chat button {
        margin-right: 15px;
        float: right;
      }
      #chat iframe {
        border: 1px solid #CCC;
        height: 500px;
        width: 100%;
      }
  body.container
    include _content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')

    script(src="/app.js")

    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-8649920-14')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-8649920-14');

